<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :game_id %>
    <%= form.collection_select :game_id, Game.all, :id, :played_at, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :player_id %>
    <%= form.collection_select :player_id, @players, :id, :name, {}, { class: "form-control", autofocus: true } %>
  </div>

  <div class="form-group">
    <%= form.label :place %>
    <%= form.number_field :place, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
