<p id="notice"><%= notice %></p>

<div class="d-flex">
  <h1 class="flex-grow-1">Games</h1>

  <div>
    <%= link_to 'New Game', new_game_path, class: "btn btn-primary" %>
  </div>
</div> 

<%= month_calendar events: @games, attribute: :played_at do |day, games| %>
  <% games.each do |game| %>
    <%= link_to game.played_at.strftime("%e"), game, class: 'btn btn-primary' %>
  <% end %>  

  <% if games.none? %>
  <div class="d-flex justify-content-between">  
    <div><%= day.strftime("%e") %></div>
    <%= link_to '+', new_game_path(played_at: day) %>
  </div>
  <% end %>
<% end %>


