<p id="notice"><%= notice %></p>

<div class="d-flex">
  <h1 class="flex-grow-1">
    <%= @game.played_at.strftime("%B %d, %Y") %>
  </h1>
  <div>
    <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-outline-dark" %>
    <%= link_to 'Calculate Results', calculate_game_path(@game), method: :patch, class: "btn btn-primary" %>
  </div>  
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Place</th>
      <th scope="col">Player</th>
      <th scope="col">Points</th>
      <th scope="col">Winnings</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @game.results.order(:place).each do |result| %>
      <tr>
        <td scope="row"><%= result.place.ordinalize %></td>
        <td><%= link_to result.player.name, result.player, class: "text-dark" %></td>
        <td><%= result.points %></td>
        <td><%= number_to_currency result.winnings, precision: 0 %></td>
        <td><%= link_to 'Edit', edit_result_path(result), class: "text-muted" %></td>
      </tr>
    <% end %>

      <tr>
        <td colspan="5">
          <%= link_to 'Add Player', new_result_path(game_id: @game.id), class: "d-block text-center" %>
        </td>
      </tr> 
  </tbody>
</table>



