<!DOCTYPE html>
<html>
  <head>
    <title>PokerStats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <header>
      <!-- navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link_to 'Poker Stats', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Games", games_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Players (#{Player.count})", players_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container"> 
      <%= yield %>
    </div>

  </body>
</html>
